<h3 class="mx-3 mt-2">{{title}}</h3>
<hr>
<div class="container">
<form id="form" class="" action="/launch" method="GET" target="_blank">
  <div class="form-group">
      {{#ltiParameters}}
    <label>{{key}}</label>
    <input class="form-control form-control-sm" type="text" name={{key}} value={{value}}>
     {{/ltiParameters}}
  </div>
<button type="submit" class="btn btn-primary">Submit</button>
<a href="/score"><button type="button" class="btn btn-primary float-right">Scores</button></a>
</form>
</div>