<div class="container">
<table class="table mt-5">
  <thead class="thead-light">
    <tr>
      <th scope="col">lis_result_sourcedid</th>
      <th scope="col">Score</th>
    </tr>
  </thead>
  <tbody>
      {{#results}}
    <tr>
      <td>{{key}}</td>
      <td>{{value}}</td>
   </tr>
     {{/results}}
  </tbody>
</table>
</div>